#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define CURSOR  1
#define SYMBOL  2
#define NUMBER  3

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, MS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <MS>; \
  };

#define COMBO_TERM_FAST   14
#define COMBO_TERM_NORMAL 20
#define COMBO_TERM_SLOW   45

#define LT_CURSPC &lt CURSOR SPACE
#define LT_SYMRET &lt SYMBOL RET

/ {
    keymap {
        compatible = "zmk,keymap";

        // Colemak Layer (default)
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     | Tab      | Q        | W        | F        | P        | B       || J        | L        | U        | Y       | '        | Bksp      |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     | Esc      | A        | R        | S        | T        | G       || M        | N        | E        | I       | O        | Ent       |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     | Win      | Z        | X        | C        | D        | V       || K        | H        | ,        | .       | /        | Win       |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //                           | Alt      | Control  | Shift    | Spc/Cur || Ret/Sym  | Shift    | Control  | Alt     |
        //                           +----------+----------+----------+---------++----------+----------+----------+---------+
        colemak_layer {
            bindings = <
                &kp TAB    &kp Q      &kp W      &kp F      &kp P      &kp B      &kp J      &kp L      &kp U      &kp Y     &kp SQT    &kp BSPC
                &kp ESC    &kp A      &kp R      &kp S      &kp T      &kp G      &kp M      &kp N      &kp E      &kp I     &kp O      &kp RET
                &kp LGUI   &kp Z      &kp X      &kp C      &kp D      &kp V      &kp K      &kp H      &kp COMMA  &kp DOT   &kp FSLH   &kp LGUI
                                      &kp LALT   &kp LCTRL  &kp LSHIFT LT_CURSPC  LT_SYMRET  &kp RSHIFT &kp RCTRL  &kp LALT
            >;
        };

        // Cursor Control on the right (Right Space)
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     |          |          |          |          |          |         || PgUp     | Home     |  Up      | End     |          | Del       |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     |          | Win      | Alt      | Ctrl     | Sft      |         || PgDn     | Left     | Down     |Right    |          |           |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     |          |          |          |          |          |         ||          | Expand S |          |         |          |           |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //                           |          |          |          | XXXXXXX || Sel Word | Skp Word |          |         |
        //                           +----------+----------+----------+---------++----------+----------+----------+---------+
        cursor_layer {
            bindings = <
                &trans     &trans     &trans     &trans     &trans     &trans     &kp PG_UP  &kp HOME   &kp UP     &kp END   &trans     &kp DEL
                &trans     &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHIFT &trans     &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp LS(LC(A)) &trans  &trans    &trans     &trans
                                      &trans     &trans     &trans     &trans     &kp LC(D)  &skip_sel_macro &trans &trans
           >;
        };

        // Numbers on the home row, FNs on the top row, symbols in the second row
        // (Lower or Raise)
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     |          | !        | @        | <        | >        | \       || ;        | &        | |        | $       | ^        | Del       |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     |          | [        | ]        | {        | }        | =       || #        | (        | )        | ~       | `        |           |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     |          | /        | *        | +        | -        | :       || %        | _        |   ,      |   .     |   /      |           |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //                           |          |          |          |         || XXXXXXXX |          |          |         |
        //                           +----------+----------+----------+---------++----------+----------+----------+---------+
        symbols_layer {
            bindings = <
                &trans     &kp EXCL   &kp AT     &kp LT     &kp GT     &kp BSLH   &kp SEMI   &kp AMPS   &kp PIPE   &kp DLLR  &kp CARET  &kp DEL
                &trans     &kp LBKT   &kp RBKT   &kp LBRC   &kp RBRC   &kp EQUAL  &kp HASH   &kp LPAR   &kp RPAR   &kp TILDE &kp GRAVE  &trans
                &trans     &kp FSLH   &kp STAR   &kp PLUS   &kp MINUS  &kp COLON  &kp PRCNT  &kp UNDER  &kp COMMA  &kp DOT   &kp QMARK  &trans
                                      &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
            >;
        };

        // Numbers on the home row, FNs on the top row, symbols in the second row
        // (Lower or Raise)
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     |          |   F1     |   F2     |   F3     |   F4     |   F5    ||   F6     |   F7     |   F8     |   F9    |  F10     |           |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     |          |   1      |   2      |   3      |   4      |   5     ||   6      |   7      |   8      |   9     |   0      | F11       |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //     |          |   /      |   *      |   +      |   -      |         ||          |   _      |          |         |          | F12       |
        //     +----------+----------+----------+----------+----------+---------++----------+----------+----------+---------+----------+-----------+
        //                           |          |          |          | XXXXXXX || XXXXXXXX |          |          |         |
        //                           +----------+----------+----------+---------++----------+----------+----------+---------+
        numbers_layer {
            bindings = <
                &trans     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6     &kp F7     &kp F8     &kp F9    &kp F10    &trans
                &trans     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6     &kp N7     &kp N8     &kp N9    &kp N0     &kp F11
                &trans     &kp FSLH   &kp STAR   &kp PLUS   &kp MINUS  &trans     &trans     &kp UNDER  &trans     &trans    &trans     &kp F12
                                      &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
            >;
        };
    };


    combos {
      compatible = "zmk,combos";
      COMBO(escape_cd, &kp ESC, 27 28, 0, COMBO_TERM_NORMAL)
      COMBO(tab_hcomma, &kp TAB, 31 32, 0, COMBO_TERM_NORMAL)
    };

    macros {
      skip_sel_macro: skip_sel_macro {
        label = "skip_sel_sublime";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings
        = <&macro_tap &kp LC(K) &kp LC(D)>
        ;
      };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <CURSOR SYMBOL>;
            then-layer = <NUMBER>;
        };
    };

};